/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* ==body ==*/
body
{
        margin: 0 auto;
    font-family: sans-serif;
}







/* ====== navigation ========= */
.menu-bar
{
    background: rgb(0,0,244);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    color:#fff;
    list-style: none;
}
.menu-bar ul li
{
    width: 140px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: antiquewhite;
}
.active, .menu-bar ul li:hover
{
    background-color: deepskyblue;
    border-radius:3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu1
{
    display: none;
}

.menu-bar ul li:hover .sub-menu1
{
    display: block;
    position: absolute;
    background: rgb(0,0,244);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul
{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu1 ul li
{
    width:140px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    text-align: left;
    background:transparent;
    border-radius:0;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child
{
    border-bottom:none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover
{
    color:darkblue;
}
.fa-angle-right
{
    float:right;
}
.sub-menu2
{
    display: none;
}
.hoverMe:hover .sub-menu2
{
    position: absolute;
    display: block;
    margin-left: 155px;
    margin-top: -45px;
    background: rgb(0,0,244);
}   
.contact-info a{
	display:inline-block;
	padding:10px;
}

#solo {
	font-family: Arial;
	font-style: Italic;
	color: red;
	hover: #red;
}
#container-fluid {
	background-image:url("4.jpg");
	background-color: blue;
}

/* ===== Footer ======*/


.footer-wrap{
	max-width:950px;
	margin:0 auto;
	padding:30px;
	overflow: auto;
}
footer{
    background-color:rgb(0,0,244);
	text-align:center;
    color:aliceblue;
}
.footer-info a, p a{
	display:inline-block;
	padding:10px;
    text-decoration: none;
    color:aliceblue;
}
.footer-wrap a:hover{
	color:#fff;
    font-size: 110%;
}






